<div class="modal-header">
    <h5 class="modal-title">Add Hours</h5>
</div>
<div class="modal-body">

    <form id="edit_lesson_form" method="post">

        {% csrf_token %}

        <div class="form-group form_field">
            <label for="employee_name">{{field_names.0}}:</label>
            <input class="form-control" type="text" name="employee_name" id="employee_name"
                value="{{user.first_name}} {{user.last_name}}" readonly>
        </div>

        <div class="form-group form_field">
            <label for="class_type">{{field_names.1}}:</label>
            <select class="form-control" name="class_type" id="class_type" required>
                {% if hour_type == "VTC" %}
                <option value="Camp" {% if hour_to_edit.lesson_type == 'VTC Camp' %} selected {% endif %}>VTC Camp</option>
                <option value="Pro Drill" {% if hour_to_edit.lesson_type == 'VTC Pro Drill' %} selected {% endif %}>VTC Pro Drill</option>
                <option value="Adult Clinic" {% if hour_to_edit.lesson_type == 'VTC Adult Clinic' %} selected {% endif %}>VTC Adult Clinic</option>
                <option value="Junior Class" {% if hour_to_edit.lesson_type == 'VTC Junior Class' %} selected {% endif %}>VTC Junior Class</option>
                <option value="VTC Private" {% if hour_to_edit.lesson_type == 'VTC Private' %} selected {% endif %}>VTC Private</option>

                {% elif hour_type == "TenTen" %}
                <option value="TenTen After School">TenTen After School</option>
                {% endif %}
            </select>
        </div>


        <div class="form-group form_field" id="student-field" style="display: none;">
            <label for="student">Student: </label>
            <input class="form-control" type="text" name="student" id="student" placeholder="Student Name"
            value="{{hour_to_edit.student}}">
        </div>


        <div class="form-group form_field" id="school-field" style="display: none;">
            <label for="school">School: </label>
            <input class="form-control" type="text" name="school" id="school" placeholder="School Name" 
            value="{{hour_to_edit.school}}">
        </div>

        
        <div class="form-group form_field">
            <label for="duration">Duration (hrs): </label>
            <input type="number" name="duration" id="duration" class="form-control" step="0.25"
                value="{{hour_to_edit.duration}}">
        </div>

        <div class="form-group form_field">
            <label for="class_date">{{field_names.2}}:</label>
            <input class="form-control" type="date" id="class_date" name="class_date" 
                value="{{hour_to_edit.date|date:'Y-m-d'}}" min="2023-01-01">
        </div>

        <div class="form-group form_field">
            <label for="class_time">{{field_names.3}}:</label>
            <input class="form-control" type="time" id="class_time" name="class_time"
                value="{{hour_to_edit.date|time:'H:i'}}">
        </div>

        
        <div class="form-group form_field">
            <label for="wage">Wage: </label>
            <input class="form-control" type="number" id="wage" name="wage" step="0.01" readonly
            {% if hour_type == "VTC" %}
                value="{{user.employee_details.vtc_details.wage}}"
            {% elif hour_type == 'TenTen' %}
                value="{{user.employee_details.ten_ten_details.wage}}"
            {% endif %}>
        </div>
        
        <div class="alert alert-success" role="alert" id="edit_success_msg" style="display: none;">
            Hours were successfully changed!
        </div>

        <div class="alert alert-danger" role="alert" id="fields_miss_msg" style="display: none;">
            Please ensure all fields are filled in!
        </div>

        <div class="alert alert-danger" role="alert" id="edit_unsuccess_msg" style="display: none;">
            Error occured when trying to change the hours!
        </div>


    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" id="save_btn">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>