{% load static %}
{% csrf_token %}
{% for lesson in lessons %}
<tr>
    <td>{{lesson.date|date:"Y-m-d"}}</th>
    <td>{{lesson.date|time:"h:i a"}}</td>
    {% if lesson.student == "" %}
    <td colspan="2">{{lesson.lesson_type}}</td>

    {% else %}
    <td>{{lesson.lesson_type}}</td>
    <td>{{lesson.student}}</td>

    {% endif %}

    <td>{{lesson.duration}} hr</td>
    <td>{{lesson.earning}}$</td>

    {% if lesson.submitted %}
    <td>Yes</td>

    {% else %}
    <td>No</td>

    {% endif %}

    <td>
        <button class="btn btn-primary" id="Ebtn{{lesson.id}}" name="edit_button">Edit</button>
        <button class="btn btn-secondary" id="Dbtn{{lesson.id}}" name="delete_button">Delete</button>
    </td>
</tr>
{% endfor %}