{% load static %}
{% csrf_token %}
{% for class in TenTenHours %}
<tr>
    <td>{{class.date|date:"Y-m-d"}}</th>
    <td>{{class.date|time:"h:i a"}}</td>
    {% if class.school == "" %}
    <td colspan="2">{{class.class_type}}</td>

    {% else %}
    <td>{{class.class_type}}</td>
    <td>{{class.school}}</td>

    {% endif %}

    <td>{{class.duration}} hr</td>
    <td>{{class.earning}}$</td>

    {% if class.submitted %}
    <td>Yes</td>

    {% else %}
    <td>No</td>

    {% endif %}
    <td>
        <button class="btn btn-primary" id="Ebtn{{class.id}}" name="edit_button">Edit</button>
        <button class="btn btn-secondary" id="Dbtn{{class.id}}" name="delete_button">Delete</button>
    </td>
</tr>
{% endfor %}