{% extends 'main/base.html' %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/view-hours.css' %}">
    <script src="{% static 'js/view-hours.js' %}"></script>

</head>


<div class="row justify-content-center date-container">
    <div class="input-group month_select">
        <span class="input-group-text label" id="basic-addon1">Query Date:</span>
        <span><input type="month" id="date-picker" class="form-control" min="2023-01"></span>

    </div>
</div>

<div class="row justify-content-center addHourBtn"> <!-- Add 'justify-content-center' to center the content -->
    <button class="btn btn-info" id="add_hours_btn">Add Hours</button>
</div>

<div class="both-tables" id="both-tables">
    
</div>

<div class="modal fade" id="form_modal" tabindex="-1" aria-labelledby="edit_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

<script>
    document.addEventListener('modalShown', function () {

        const lesson_type = document.getElementById('class_type')
        const wage_field = document.getElementById('wage')
        const wages = {}

        if ("{{user.employee_details.is_vtc_coach}}" === "True") {
            wages.VTCwage = parseFloat("{{user.employee_details.vtc_details.wage}}")
        }

        if ("{{user.employee_details.is_ten_ten_employee}}" === "True") {
            wages.Tenwage = parseFloat("{{user.employee_details.ten_ten_details.wage}}")
        }

        lesson_type.addEventListener('change', function () {

            const currValue = lesson_type.value

            if (currValue.split(' ')[0] === 'TenTen') {
                wage_field.value = wages.Tenwage
            }
            else {
                wage_field.value = wages.VTCwage
            }
        })
    });

</script>

{% endblock %}