{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Master Table{% endblock title %}

{% block content %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<div class="row justify-content-center date-container">
    <div class="input-group month_select">
        <span class="input-group-text label" id="basic-addon1">View Month:</span>
        <span><input type="month" id="date-picker" class="form-control" min="2023-01"></span>
        <span><input type="employee" id="employee-field" class="form-control"></span>

    </div>
</div>


{% endblock content %}